<div class="columns eleven centered">
  <h1>Consuming Users</h1>

  <div class="columns five">
    <h2>Week-on-Week</h2>
    <p>Number of unique users who have received a notification.</p>
    <table class="metrics">
      <tr>
        <td>Week</td>
        <td>Active</td>
        <td></td>
        <td>WoW Growth</td>
      </tr>

      <% @consuming_users_summary.each do |week| %>
      <tr class="<%=week['mood']%> <%=week['future']%>">
        <td><%=week['week']%></td>
        <td><%=week['active']%></td>
        <td><%=week['diff']%></td>
        <td><%='%.1f' % week['wow_rate'].to_f %>%</td>
      </tr>
      <% end %>
    </table>
  </div>
</div>