<h2><%= @juniors.map(&:first_name).to_sentence %>'s Schedule</h2>

<p><%= @parent.first_name.titleize %>, the current schedule is below. You'll receive any changes via email or you can view the whole schedule online.</p>

<%= render :partial => "user_mailer/schedule_event_list", :locals => {:events => @events, :timezone => @parent.time_zone} %>

<% unless @team_invite_token.nil? %>
  <p>See the whole schedule online</p>
  <a class="button" href="<%= team_invite_link_url(:token => @team_invite_token, :only_path => false )%>">View the schedule</a>
<% else %>
  <a class="button" href="<%= team_url(@team, :only_path => false )%>#schedule">View the schedule</a>
<% end %>

<%
email_title = "Schedule+Initial"
extra_params = @parent.email + "&TeamId=" + @team.id.to_s + "&relation=parent"
%>
<%==get_img_html(email_title, extra_params) %>
