<% is_tommorow = ((@event.time-Time.now) < 1.day.to_i) %>
<% @day_of_week = is_tommorow ? "tomorrow" : "on " + @event.time.in_time_zone(@event.time_zone).strftime('%A') %>

<h2><%=@junior.first_name.titleize%>'s <%= @event.game_type_string(false) %> tomorrow...</h2>

<p><%=@parent.first_name.titleize%>, <%= @junior.first_name.titleize %> has <%= @event.game_type_string(false,true) %> scheduled <%= @day_of_week %>. Can <%= @junior.first_name.titleize %> still make it?</p>

<%= render :partial => "user_mailer/event_details", :locals => {:event => @event, :time_zone_mismatch => false} %>

<%= render :partial => "user_mailer/event_response", :locals => {:teamsheet_entry => @teamsheet_entry, :junior => @junior} %>

<%
email_title = "Event+Reminder"
extra_params = @parent.email + "&EventId=" + @event.id.to_s + "&relation=parent"
%>
<%==get_img_html(email_title, extra_params) %>
<a class="button small grey" href="<%= invite_link_url(:token => @teamsheet_entry.token, :only_path => false )%>">View <%= @event.game_type_string %> Details</a>