<a class="team-element sport-icon" href="<%= url %>" style="border-bottom:3px solid #<%= colour2 %>;background-color: #<%= colour1 %>;">
	<%= htmlPic %>
	<h4 style="color:<%= textColor %>;" ><%- name %></h4>
</a>