<style>
.notice{
  width:100%;
  padding:10px;
  margin-bottom:10px;
  background-color: rgba(255,255,255,0.4);
}
.notice p {
  margin: 0;
}

#new-players-change-box {
  margin-top:1em;
}
</style>

<div class="page-title">  
  <div class="row">
    <div class="col-md-8 col-sm-6">
      <h3>All-time Overview (from May 2014)</h3>
    </div>
  </div>
</div>

<div id="container">

<div class="row spacing-bottom col-2">  
    <div class="col-md-3 col-sm-6 spacing-bottom-sm"> 
      <div title="Number of New Users who signed-up (excludes invited users). Analyze by Referrer, Demographics etc." class="tiles blue added-margin">
        <div class="tiles-body">    
        <div class="tiles-title">
          TOTAL PLAYERS
        </div>  
        <div class="heading">
          <span id="total-users" class="animate-number" data-value="0" data-animation-duration="1200">0</span>
        </div> 
        <div class="description"> <span class="text-white mini-description "><span id="total-users-last-period">0%</span> <span class="blend">change since last month</span></span></div>      
        </div>  
      </div>
    </div>
    <div class="col-md-3 col-sm-6 spacing-bottom-sm"> 
      <div title="Number of New Users who signed-up (excludes invited users). Analyze by Referrer, Demographics etc." class="tiles blue added-margin">
        <div class="tiles-body">    
        <div class="tiles-title">
          TOTAL USERS
        </div>  
        <div class="heading">
          <span id="total-users-admins" class="animate-number" data-value="0" data-animation-duration="1200">0</span>
        </div> 
        <div class="description"> <span class="text-white mini-description "><span id="total-users-last-period">0%</span> <span class="blend">change since last month</span></span></div>      
        </div>  
      </div>
    </div>
    <div class="col-md-3 col-sm-6 spacing-bottom-sm">
      <div class="tiles red added-margin">
       <div class="tiles-body">
  
        <div class="tiles-title">
          TOTAL EVENTS
        </div>  
        <div class="heading">
          <span id="total_events" class="animate-number" data-value="0" data-animation-duration="1000">0</span> 
        </div>
        <div class="description"> <span class="text-white mini-description "><span id="total-events-last-period">0%</span> <span class="blend">change since last month</span></span></div>     
       </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 spacing-bottom-sm">
      <div class="tiles green added-margin">
       <div class="tiles-body">
  
        <div class="tiles-title">
          CLUB ACTIVATIONS
        </div>  
        <div class="heading">
          <span id="club_activations" class="animate-number" data-value="0" data-animation-duration="1000">0</span> 
        </div>
         <div class="description"> <span class="text-white mini-description "><span id="club-activations-last-period">0%</span> <span class="blend">change since last month</span></span></div>    
       </div>
      </div>
    </div>
<!--     <div class="col-md-3 col-sm-6 spacing-bottom-sm">
      <div class="tiles purple added-margin">
       <div class="tiles-body">
  
        <div class="tiles-title">
          USER ENGAGEMENT
        </div>  
        <div class="heading">
          <span id="user_engagement" class="animate-number" data-value="<%=@female_players%>" data-animation-duration="1000">0</span>  
        </div>       
       </div>
      </div>
    </div>  -->     
  </div>

  <div class="row spacing-bottom col-2">  
    <div class="col-md-12 col-sm-12 spacing-bottom-sm"> 
      <div class="grid simple"> 
        <div class="grid-title no-border">
          <h4>Players</h4>
          <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="reload"></a>
            <a href="javascript:;" class="remove"></a>
          </div>
        </div>
        <div class="grid-body no-border">
          <div class="row-fluid">           
            <div id="chart-rugbyplayers"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row spacing-bottom col-2">  
    <div class="col-md-12 col-sm-12 spacing-bottom-sm"> 
      <div class="grid simple"> 
        <div class="grid-title no-border">
          <h4>Total Events</h4>
          <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="reload"></a>
            <a href="javascript:;" class="remove"></a>
          </div>
        </div>
        <div class="grid-body no-border">
          <div class="row-fluid">           
            <div id="chart-events-total"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row spacing-bottom col-2">  
    <div class="col-md-12 col-sm-12 spacing-bottom-sm"> 
      <div class="grid simple"> 
        <div class="grid-title no-border">
          <h4>Touchbase Clubs</h4>
          <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="reload"></a>
            <a href="javascript:;" class="remove"></a>
          </div>
        </div>
        <div class="grid-body no-border">
          <div class="row-fluid">           
            <div id="chart-tb-clubs-total"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row spacing-bottom col-2">
    <div class="col-md-4 col-sm-6 spacing-bottom-sm">
      <div class="grid simple">
        <div class="grid-title no-border">
          <h4>Gender</h4>
          <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="remove"></a>
          </div>
        </div>
        <div class="grid-body no-border">
          <div class="col-md-12">
            <h5>Male vs female</h5>
            <p>Total participation of male and female players.</p>
            <div id="gender-donut" class="donut"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 spacing-bottom-sm">
      <div class="grid simple">
        <div class="grid-title no-border">
          <h4>Rugby Players</h4>
          <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="remove"></a>
          </div>
        </div>
        <div class="grid-body no-border">
          <div class="row">
            <div class="col-md-12">
              <h5>New vs Existing</h5>
              <p>Players new to rugby versus previous rugby players.</p>
              <div id="new-existing-donut" class="donut"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 spacing-bottom-sm"> 
      <div title="Number of New Users who signed-up (excludes invited users). Analyze by Referrer, Demographics etc." class="tiles blue added-margin">
        <div class="tiles-body">    
        <div class="tiles-title">
          EXISTING PLAYERS CHANGE
        </div>  
        <div class="heading">
          <span id="existing-change">0</span>
        </div> 
        <div class="description"> <span class="text-white mini-description "><span id="existing-change-pc">0%</span> <span class="blend">change since last month</span></span></div>      
        </div>  
      </div>
    </div>

    <div id="new-players-change-box" class="col-md-3 col-sm-6 spacing-bottom-sm spacing-top-sm"> 
      <div title="Number of New Users who signed-up (excludes invited users). Analyze by Referrer, Demographics etc." class="tiles blue added-margin">
        <div class="tiles-body">    
        <div class="tiles-title">
          NEW PLAYERS CHANGE
        </div>  
        <div class="heading">
          <span id="new-change">0</span>
        </div> 
        <div class="description"> <span class="text-white mini-description "><span id="new-change-pc">0%</span> <span class="blend">change since last month</span></span></div>      
        </div>  
      </div>
    </div>

  </div>

</div>
<script type="text/javascript">
$(function() {

  window.ActiveApp = {
    page: "dashboard",
    Tenant: new Backbone.Model(<%= safe_js_string(@tenant_json) %>)
  };
  ActiveApp.CurrentUser = App.Modelss.User.findOrCreate(<%= safe_js_string(@user_json) %>, {parse: true});
  ActiveApp.CurrentUserTeams = new App.Collections.Teams(<%= safe_js_string(@current_user_teams_json) %>);
  ActiveApp.CurrentUserLeagues = new App.Collections.Leagues(<%= safe_js_string(@current_user_leagues_json) %>);

  BFApp.start();

  loadOverviewSummary(ActiveApp.Tenant.get("subdomain"));

  loadDashboardCharts(ActiveApp.Tenant.get("subdomain"));

  var monthNames = [ "January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December" ];

});

function drawChartsFromData(data){
  window.overviewChart.setData(data.overviewChart)

  $('.animate-number').each(function(){
     $(this).animateNumbers($(this).attr("data-value"), true, parseInt($(this).attr("data-animation-duration"))); 
  });
}

</script>