<a data-team-color="button" class="button full-width share-by-email bf-icon mail" href="mailto:<%= @mail_content[:mailto] %>?subject=<%= @mail_content[:subject] %>&bcc=<%= @mail_content[:bcc] %>&body=<%= @mail_content[:body] %>"><%= @mail_content[:button_copy] %></a>
<div class="secondary-share-button">
	<button class="small full-width share-button bf-icon facebook">Share on Facebook</button>
	<button class="small full-width share-button bf-icon twitter" id="twitter-button">Share on Twitter</button>
</div>