<p>Someone submitted the contact form.</p>
<p>
  <small>Demo</small><br />
  <strong><%= @demo == 1 ? "yes" : "no" %></strong>
</p>
<p>
  <small>Email</small><br />
  <strong><%= @email %></strong>
</p>
<p>
  <small>Message</small><br />
  <strong><%= @message %></strong>
</p>
<p>
  <small >Name</small><br />
  <%= @name %>
</p>
<p>
  <small>Mobile</small><br />
  <%= @mobile %>
</p>

