<div class="row">
	<div class="columns twelve">
		<h1>Unclaimed FAFT Team Profiles (<%=@teams.size%>)</h1>
		<br />
	</div>
</div>

<div class="row">
	<div class="columns eight dashboard">
		<table>
			<thead>
				<tr>
					<td>logo</td>
					<td>Name</td>
					<td>Colour 1</td>
					<td>Colour 2</td>
				</tr>
			</thead>
			<% @teams.each do |team| %>
			<% puts team.to_yaml %>
			<tr>
				<td><img src="<%=team.img_url %>" /></td>
				<td><%=link_to team.name, "/division/#{team.faft_division_id}/team/#{team.id}" %></td>
				<td><div style="background-color:#<%=team.colour1 %>;width:15px;height:15px;border:1px solid #ccc;display: inline-block;"></div><input type="text" value="<%=team.colour1 %>" style="width:70px"/></td>
				<td><div style="background-color:#<%=team.colour2 %>;width:15px;height:15px;border:1px solid #ccc;display: inline-block;"></div><input type="text" value="<%=team.colour2 %>" style="width:70px"/></td>
			</tr>
			<% end %>
		</table>
	</div>
</div>