<ul class="users-list available">
	<li class="title"><h4><%= copy.available.capitalize() %> <span class="total">(<%= available %>)</span></h4></li>
	<li class="empty"><em>No players here</em></li>
</ul>
<ul class="users-list awaiting">
	<li class="title"><h4><%= copy.awaiting.capitalize() %> <span class="total">(<%= awaiting %>)</span></h4></li>
	<li class="empty"><em>No players here</em></li>
</ul>

<ul class="users-list unavailable">
	<li class="title"><h4><%= copy.unavailable.capitalize() %> <span class="total">(<%= unavailable %>)</span></h4></li>
	<li class="empty"><em>No players here</em></li>
</ul>