<div class="twelve columns">
   <h1 class="text-center"><%- headline %></h1>
 </div>
 <div class="download-section text-center">
  <h2>Important team information at your fingertips</h2>
  <ul class="clearfix">
     <li class="four columns"><i class="bf-icon calendar"></i>Upcoming fixtures</li>
     <li class="four columns"><i class="bf-icon list"></i>League position</li>
     <li class="four columns"><i class="bf-icon trophy"></i>Recents results</li>
   </ul>
   <a class="six columns mobile-six text-center store-button" href="<%= androidLink %>" target="_blank" data-track="iOS">
     <img class="cta-store" src="<%= appStoreButtonPath %>"/>
   </a>
   <a class="six columns mobile-six text-center store-button" href="<%= appstoreLink %>" target="_blank" data-track="Play Store">
     <img class="cta-store" src="<%= playStoreButtonPath %>"/>
   </a>
 </div>

 <div class="download-section">
    <div class="phone-container">
      <a href="<%= androidLink %>" target="_blank">
        <img src="<%= iphoneStandingPath %>" class="iphone_img" alt="Download the Iphone app">
      </a>
      <a href="<%= appstoreLink %>" target="_blank">
        <img src="<%= androidShedulePath %>" class="android_img" alt="Download the android app">
      </a>
    </div>
 </div>
</div>