<div class="phone-container">
  <a class="store-link appstore-link" href="<%= appstoreLink %>" target="_blank" data-track="iOS" data-track-type="sidebar-header">
    <img class="cta-store" src="<%= appStoreButton %>"/>
    <img src="<%= iphoneImgPath %>" class="iphone_img" alt="Download the Iphone app">
  </a>
  <a class="store-link playstore-link" href="<%= androidLink %>" target="_blank" data-track="Play Store" data-track-type="sidebar-header">
    <img class="cta-store" src="<%= androidStorebutton %>"/>
    <img src="<%= androidImgPath %>" class="android_img" alt="Download the android app">
  </a>
</div>
<div class="get-the-app">
  <h1>Get the app!</h1>
  <p>
    Mitoo is now available for <a class="store-link" data-track-type="sidebar-link" data-track="iOS" href="<%= appstoreLink %>" target="_blank">iPhone</a> and <a class="store-link" data-track-type="sidebar-link" data-track="Play Store" href="<%= androidLink %>" target="_blank">Android</a>. Download the app.
  </p>
</div>