<%= user.getPictureHtml('thumb') %>
<div class="comment-text">
	<a href="<%= user.getHref() %>"><%= user.get("name") %></a>
	<span class="actual-comment-text"><%- text %></span>
	<small><%= date %></small>
</div>


