<h2>Schedule Updated</h2>

<% if @events.size > 1 %>
<p><%= @invitee.first_name.titleize %>, there are some changes to the Schedule. Below are the events that have changed.</p>
<% else %>
<p><%= @invitee.first_name.titleize %>, details about the event below have changed.</p>
<% end %>

<%= render :partial => "user_mailer/schedule_event_list", :locals => {:events => @events, :timezone => @invitee.time_zone} %>

<% if !@team_invite.nil? %>
  <p>See the whole schedule online</p>
  <a class="button" href="<%= team_invite_link_url(:token => @team_invite.token, :only_path => false )%>">View the schedule</a>
<% else %>
  <a class="button" href="<%= team_url(@team, :only_path => false )%>#schedule">View the whole schedule</a>
<% end %>

<%
email_title = "Schedule+Updates"
extra_params = @invitee.email + "&TeamId=" + @team.id.to_s
%>
<%==get_img_html(email_title, extra_params) %>